
html * { margin:0; padding:0;}







#treeMenu { text-align:left;  width:250px;  font:normal 14px 'Segoe UI', Helvetica, Arial, sans-serif; 
}
#treeMenu h2 { text-align:center; font:bold 20px 'Segoe UI', Helvetica, Arial, sans-serif; color:#454545; margin-bottom:12px;}
#treeMenu ul { list-style:none;}
#treeMenu ul li {overflow:hidden; background:#f5f5f5 url(img/treeTabBg.gif) repeat-x 0 0; border:solid 1px #fff; margin:4px 0; -moz-border-radius:3px;  -webkit-border-radius:3px;  border-radius:3px;}
#treeMenu ul li span { display:inline-block; float:left; width:30px; height:30px; background:url(img/treeSplit.png) no-repeat 100% 0;  cursor:pointer;}
#treeMenu ul li a { color:#4d5f6b; font-size:16px; padding:5px 10px; display:inline-block;  text-decoration:none; width:200px; float:left; }
#treeMenu ul li span.opened { background-position:100% -61px;}

	#treeMenu ul li div { clear:both; height:auto; }
	#treeMenu ul li li { background:none; border:0; margin:0; padding-left:10px; border-bottom:solid 1px #fff;  border-top:solid 1px #eee; clear:both;}
	#treeMenu ul li li a { color:#626262; font-size:12px; padding:5px 0; float:left;  width:auto; }
	#treeMenu ul li li a:hover { text-decoration:underline; color:#333;}
	#treeMenu ul li li span { float:left; display:inline; width:15px; height:20px;  background-position:-10px -263px; cursor:default; }
	#treeMenu ul li li span.closed { background-position:-10px -131px; cursor:pointer;}
	#treeMenu ul li li span.closed.opened { background-position:-7px -197px; }

		#treeMenu ul li li li { border:0;}





