@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon72a7.eot?622zf');
    src:    url('fonts/icomoon72a7.eot?622zf#iefix') format('embedded-opentype'),
        url('fonts/icomoon72a7.html?622zf') format('woff2'),
        url('fonts/icomoon72a7.ttf?622zf') format('truetype'),
        url('fonts/icomoon72a7.woff?622zf') format('woff'),
        url('fonts/icomoon72a7.svg?622zf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-spf:before {
    content: "\e920";
}
.icon-dkim:before {
    content: "\e921";
}
.icon-api2:before {
    content: "\e91f";
}
.icon-wipe:before {
    content: "\e91b";
}
.icon-cert:before {
    content: "\e91e";
}
.icon-paste:before {
    content: "\e91c";
}
.icon-db:before {
    content: "\e91d";
}
.icon-cloudup:before {
    content: "\e91a";
}
.icon-help2:before {
    content: "\e916";
}
.icon-finger:before {
    content: "\e915";
}
.icon-location:before {
    content: "\e914";
}
.icon-win1:before {
    content: "\e912";
}
.icon-win2:before {
    content: "\e913";
}
.icon-abtest:before {
    content: "\e911";
}
.icon-safari:before {
    content: "\e90b";
}
.icon-browser:before {
    content: "\e90c";
}
.icon-chrome:before {
    content: "\e90d";
}
.icon-firefox:before {
    content: "\e90e";
}
.icon-ie:before {
    content: "\e90f";
}
.icon-opera:before {
    content: "\e910";
}
.icon-android:before {
    content: "\e906";
}
.icon-blackberry:before {
    content: "\e907";
}
.icon-linux:before {
    content: "\e908";
}
.icon-apple:before {
    content: "\e909";
}
.icon-windows:before {
    content: "\e90a";
}
.icon-desktop:before {
    content: "\e904";
}
.icon-tablet:before {
    content: "\e905";
}
.icon-devices:before {
    content: "\e902";
}
.icon-phone:before {
    content: "\e903";
}
.icon-auto:before {
    content: "\e901";
}
.icon-absplit:before {
    content: "\e900";
}
.icon-billing:before {
    content: "\e619";
}
.icon-hcenter:before {
    content: "\e651";
}
.icon-hleft:before {
    content: "\e652";
}
.icon-hright:before {
    content: "\e653";
}
.icon-checkbox:before {
    content: "\e64d";
}
.icon-radiobox:before {
    content: "\e64e";
}
.icon-selectbox:before {
    content: "\e64f";
}
.icon-textbox:before {
    content: "\e650";
}
.icon-server:before {
    content: "\e64c";
}
.icon-avatar:before {
    content: "\e64b";
}
.icon-package:before {
    content: "\e64a";
}
.icon-premium:before {
    content: "\e649";
}
.icon-img:before {
    content: "\e648";
}
.icon-clonep:before {
    content: "\e647";
}
.icon-vabottom:before {
    content: "\e644";
}
.icon-vamiddle:before {
    content: "\e645";
}
.icon-vatop:before {
    content: "\e646";
}
.icon-design:before {
    content: "\e643";
}
.icon-move:before {
    content: "\e642";
}
.icon-send4:before {
    content: "\e641";
}
.icon-blogger15:before {
    content: "\e63b";
}
.icon-cron2:before {
    content: "\e63c";
}
.icon-data45:before {
    content: "\e63d";
}
.icon-edition1:before {
    content: "\e63e";
}
.icon-html-tag:before {
    content: "\e63f";
}
.icon-links12:before {
    content: "\e640";
}
.icon-referred:before {
    content: "\e917";
}
.icon-unsus:before {
    content: "\e918";
}
.icon-delivered:before {
    content: "\e919";
}
.icon-chevron-right:before {
    content: "\f079";
}
.icon-arrowleft:before {
    content: "\ea38";
}
.icon-socials:before {
    content: "\ea82";
}
.icon-prev:before {
    content: "\f044";
}
.icon-next:before {
    content: "\f05a";
}
.icon-x:before {
    content: "\e63a";
}
.icon-home:before {
    content: "\e623";
}
.icon-user:before {
    content: "\e627";
}
.icon-uadd:before {
    content: "\e601";
}
.icon-udel:before {
    content: "\e61c";
}
.icon-users:before {
    content: "\e616";
}
.icon-umdel:before {
    content: "\e607";
}
.icon-referr:before {
    content: "\e61a";
}
.icon-merge:before {
    content: "\e602";
}
.icon-stats2:before {
    content: "\e603";
}
.icon-list:before {
    content: "\e605";
}
.icon-lclone:before {
    content: "\e606";
}
.icon-lcopy:before {
    content: "\e608";
}
.icon-export:before {
    content: "\e60a";
}
.icon-form:before {
    content: "\e60f";
}
.icon-fields:before {
    content: "\e60b";
}
.icon-filter:before {
    content: "\e60c";
}
.icon-edit:before {
    content: "\e60d";
}
.icon-minus:before {
    content: "\e622";
}
.icon-plus:before {
    content: "\e621";
}
.icon-link:before {
    content: "\e60e";
}
.icon-loginas:before {
    content: "\e610";
}
.icon-click:before {
    content: "\e611";
}
.icon-pie:before {
    content: "\e612";
}
.icon-reply:before {
    content: "\e613";
}
.icon-config:before {
    content: "\e614";
}
.icon-ldel:before {
    content: "\e615";
}
.icon-lok:before {
    content: "\e617";
}
.icon-support:before {
    content: "\e62a";
}
.icon-profile:before {
    content: "\e624";
}
.icon-folder:before {
    content: "\e625";
}
.icon-ticket:before {
    content: "\e626";
}
.icon-download:before {
    content: "\e628";
}
.icon-upload:before {
    content: "\e629";
}
.icon-pass:before {
    content: "\e62b";
}
.icon-sad:before {
    content: "\e62c";
}
.icon-info:before {
    content: "\e62d";
}
.icon-spam:before {
    content: "\e62e";
}
.icon-close2:before {
    content: "\e62f";
}
.icon-ok:before {
    content: "\e630";
}
.icon-arrowright:before {
    content: "\e631";
}
.icon-save:before {
    content: "\e600";
}
.icon-pdf:before {
    content: "\e61b";
}
.icon-csv:before {
    content: "\e61e";
}
.icon-excel:before {
    content: "\e61f";
}
.icon-popup:before {
    content: "\e609";
}
.icon-cron:before {
    content: "\e604";
}
.icon-stop:before {
    content: "\e638";
}
.icon-reload:before {
    content: "\e639";
}
.icon-tip:before {
    content: "\e620";
}
.icon-exit:before {
    content: "\e61d";
}
.icon-tools:before {
    content: "\e618";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-camp:before {
    content: "\f0a1";
}
.icon-caretdown:before {
    content: "\f0d7";
}
.icon-caretup:before {
    content: "\f0d8";
}
.icon-chevrondown:before {
    content: "\f078";
}
.icon-help:before {
    content: "\f059";
}
.icon-mail2:before {
    content: "\e633";
}
.icon-mail:before {
    content: "\e632";
}
.icon-del:before {
    content: "\e636";
}
.icon-search:before {
    content: "\e635";
}
.icon-window:before {
    content: "\e634";
}
.icon-warning:before {
    content: "\e637";
}

