body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
a{
	color: inherit;
	text-decoration: none;
}
.parametros{
	clear:both;
	color:#999;
	margin:0 2px;
	padding-bottom: 45px;
}
.parametros p{
	box-sizing: border-box;
	background-color:#333;
	float:left;
	line-height:1.4em;
	margin:0;
	padding:5px 10px;
	width: 50%;
}
.parametros p br{
	display:none;
}
.parametros p span#initial_price,
.parametros p span#final_price{
	color:#FFF;
	font-size:1.5em;
	margin-left:10px;
}
.parametros p span.leyenda{
	font-style:italic;
}
table{
	margin-bottom: 25px;
}
.table td,
.table th{
	/*border-top: 1px solid #ddd;	width:100px;
	line-height: 1.42857143;*/
	text-align:center;
	padding:5px 10px;
	vertical-align: middle;
}
.table th{
	background-color: #999;
	color: #FFF;
}
.table td{
	border-bottom: 1px solid #ddd;	width:100px;
}
#bank-grid .tarjetas{
	text-align:left;
	width: 200px;
	white-space: nowrap;
}
#bank-grid thead th img{
	background-color: #FFF;
	border-radius:5px;
	height:auto;
	margin-left:10px;
	vertical-align: middle;
	width:120px;
}
#bank-grid td.cuotas{
	font-size: 1.7em;
	font-weight: 500;
}
small.legal{
	font-size: .45em;
	font-weight: normal;
	margin-right: -12px;
	vertical-align: top;
}
.legales small.legal{
	font-size: .6em;
}
h2{
	font-size:16px;
	font-weight: 600;
}
h3{
	font-size:14px;
	font-weight: 600;
	margin: 0;
	padding-top:15px;
}
.legales p{
	font-size:10px;
	margin:0;
	padding:0;
}
