.printView,
.tablesView,
.legalesView{
	display: block !important;
}
.miniView{
	display:none !important;
}
/* PAGE */
header{
	border-bottom: 1px solid #000;
}
header .logoTTS{
	width: 50px;
}
header p.date{
	margin-top: -1.3em;
	text-align: right;
}
footer{
	border-top: 1px solid #000;
	padding-top:10px;
}
footer .page{
	float:right;
	margin-top: -1.3em;
	text-align: right;
	width: 30px;
}
footer .linkPage{
	text-align: center;
}
body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
}
a{
	color: inherit;
	text-decoration: none;
}
/* PARAMETROS */
.parametros{
	clear:both;
	color:#FFF;
	margin:0 2px;
	padding-bottom: 20px;
}
.parametros p{
	box-sizing: border-box;
	background-color:#999;
	float:left;
	font-weight: bold;
	line-height:2em;
	margin:0;
	padding:8px 10px 5px 10px;
	width: 100%;
}
.parametros p br{
	display:none;
}
.parametros p span#initial_price,
.parametros p span#final_price,
.parametros p span#final_price_print{
	color:#000;
	font-size:1.5em;
	margin-left:10px;
}
.parametros p span.leyenda{
	font-style:italic;
}
/* TABLES */
.bancos{
	margin: 0 -10px;
}
.grid-view{
	box-sizing: border-box;
	float: left;
	padding: 0 1%;
	width: 48%;
}
table{
	margin-bottom: 25px;
	width: 100%;
}
.table td,
.table th{
	/*border-top: 1px solid #ddd;	width:100px;
	line-height: 1.42857143;*/
	font-size: 18px;
	text-align:center;
	padding:5px;
	vertical-align: middle;
}
.table th{
	background-color: #333;
	color: #FFF;
}
.table td{
	border-bottom: 1px solid #ddd;	width:100px;
}
.grid-view thead th img{
	background-color: #FFF;
	border-radius:5px;
	height:auto;
	vertical-align: middle;
	width:90px;
}
.grid-view td.cuotas{
	font-size: 26px;
	font-weight: 500;
	line-height: 1em;
}
.grid-view td a{
	position:relative;
}
sup.legal{
	color: #999;
	font-size:12px;
	font-weight: normal;
	margin-top: 0px;
	padding-top:0px;
	position:absolute;
	vertical-align: top;
}
/* LEGALES */
.legales{
	clear: both;
	color: #666;
}
h2{
	margin-bottom: 0;
}
h3{
	font-size:18px;
	font-weight: 600;
	margin: 0;
	padding-top:15px;
	position:relative;
}
h3 sup.legal{
	padding-top:7px;
}
h3 a{
	display:none;
}
.legales p{
	font-size:10px;
	margin:0;
	padding:0;
}
