/*
.table td,
.table th{
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	width:100px;
}*/
.parametros{
	clear:both;
	color:#999;
	margin:0;
	padding-top:15px;
}
.parametros p{
	background-color:#333;
	line-height:1.4em;
	margin:0;
	padding:5px 10px;
}
.parametros p br{
	display:none;
}
.parametros p span#initial_price,
.parametros p span#final_price{
	color:#FFF;
	font-size:1.5em;
	margin-left:10px;
}
.parametros p span.leyenda{
	font-style:italic;
}
.bancos{
	clear:both;
	/*padding-top: 15px;*/
}
#bank-grid.grid-view{
	clear:none;
}
#bank-grid table.table{
	margin:15px 0 0 0;
}
#bank-grid th,
#bank-grid td{
	padding:5px 10px;
	text-align:center;
	vertical-align: middle;
}
#bank-grid .tarjetas{
	text-align:left;
	width: 200px;
	white-space: nowrap;
}
#bank-grid thead th img{
	background-color: #FFF;
	border-radius:5px;
	height:auto;
	margin-left:10px;
	width:120px;
}
#bank-grid td.cuotas{
	font-size: 1.7em;
	font-weight: 500;
}
small.legal{
	font-size: .45em;
	font-weight: normal;
	margin-right: -12px;
	vertical-align: top;
}
.legales small.legal{
	font-size: .6em;
}
h3{
	font-size:21px;
	font-weight: 600;
	margin: 0;
	padding-top:15px;
}
.legales p{
	margin:0;
	padding:0;
}
@media (max-width: 767px) {
	.table-responsive{
		border:none;
	}
	.parametros p br{
		display:initial;
	}
	.parametros p span#initial_price,
	.parametros p span#final_price{
		margin-left:0;
	}
}
@media (max-width: 470px) {
	#btnPrint{
		margin-top: 10px;
	}
	.parametros p{
		font-size:.89em;
	}
	.parametros p span#initial_price,
	.parametros p span#final_price{
		font-size:1.5em;
	}
}
