.tableView,
.printView,
.legal3,
.legal2,
.print_content2{
	display:none;
}
/*.legalesView*/
	
/* ENCABEZADO */
section.cotizador{
	position:relative;
}
section.cotizador div.search_bar{
    min-width: 145px;
}
section.cotizador #origin{
    padding-top:0;
    padding-bottom:0;
}
section.cotizador div.cuotas{
	width: 90px;
}
section.cotizador input.criterio{
	font-size: 18px !important;
	padding:0 !important2;
	line-height:40px !important;
}
section.cotizador .parametros{
	clear:both;
	color: #FFF;
	margin:0;
	padding-top:15px;
}
section.cotizador .parametros p{
	background-color: #dd4b39;
	line-height:1.3em;
	margin:0;
	padding:8px 10px 5px 10px;
}
section.cotizador .parametros p br{
	display:none;
}
section.cotizador .parametros p span#initial_price,
section.cotizador .parametros p span#final_price,
section.cotizador .parametros p span#final_price_print{
	color:#FFF;
	font-size: 1.65em;
	font-weight:bold;
	margin-left:10px;
}
section.cotizador .parametros p span.leyenda{
	font-style:italic;
}
/* TABLAS */
section.cotizador .bancos{
	clear:both;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}
section.cotizador .tableView{
	/* display: inline; */
	/* margin:0 10px; */
	position:relative;
    -webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
section.cotizador .tableView .table-responsive table{
	display:inline-block;
}
section.cotizador .tableView .table-responsive table td{
	width: 25%;
}
section.cotizador .tableView table.table{
	margin:15px 0 0 0;
}
section.cotizador .tableView th,
section.cotizador .tableView td{
	padding: 5px;
	text-align:center;
	vertical-align: middle;
	white-space:normal !important;
}
section.cotizador .tableView thead th:first-child{
	width:1px !important;
}
section.cotizador .tableView thead th img{
	background-color: #FFF;
	border-radius:5px;
	height:auto;
	width:120px;
}
section.cotizador .tableView td.cuotas{
	font-size: 1.7em;
	font-weight: 500;
	line-height: 1em;
}
section.cotizador .tableView td a{
	position:relative;
}
section.cotizador sup.legal{
	color: #666;
	font-size: .45em;
	font-weight: normal;
	padding-top:15px;
	position:absolute;
}
section.cotizador .legales small.legal{
	font-size: .6em;
}
section.cotizador h2{
	margin-bottom: 0;
}
section.cotizador h3{
	font-size:21px;
	font-weight: 600;
	margin: 0;
	padding-top:15px;
	position:relative;
}
section.cotizador h3 sup.legal{
	font-size: .55em;
	padding-top: 30px;
}
section.cotizador h3 a{
	color: #337ab7;
	float:right;
	font-size:.65em;
	margin:6px 30px 0 0;
}
section.cotizador h3 a:hover{
	text-decoration:underline;
}
section.cotizador .legales p{
	margin:0;
	padding:0;
}
section.cotizador a.volver,
section.cotizador a.tablesBtn,
section.cotizador a.listBtn,
section.cotizador a.refresh{
	background-color: #157BB2;
	border-radius:50%;
	bottom: 7px;
	box-shadow: 0 0 10px #FFF;
	color:#FFF;
	cursor:pointer;
	font-size:21px;
	height:35px;
	line-height:33px;
	position:fixed;
	right: 30px;
	text-align:center;
	width:35px;
	z-index:2;
}
section.cotizador a.volver:hover,
section.cotizador a.tablesBtn:hover,
section.cotizador a.listBtn:hover,
section.cotizador a.refresh:hover{
	background-color: #058;
}
section.cotizador a.tablesBtn{
	font-size:21px;
	line-height:37px;
	right: 70px;
}
section.cotizador a.listBtn{
	font-size:18px;
	line-height:39px;
	right: 113px;
}
section.cotizador a.refresh{
	font-size:20px;
	line-height:36px;
	right: 156px;
}
/* MINI */
section.cotizador .miniView{
	clear:none;
	float:left;
	/* padding:0 10px; */
	position:relative;
	width:50%;
    -webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
section.cotizador .miniView .maximizar,
section.cotizador .tableView .minimizar{
	background-color: #157BB2;
	border-radius:50%;
	box-shadow: 0 0 10px #FFF;
	color:#FFF;
	cursor:pointer;
	display:none;
	height:25px;
	line-height:27px;
	position:absolute;
	right:10px;
	text-align:center;
	top:29px;
	width:25px;
	z-index: 1;
}
section.cotizador .miniView .maximizar{
	top:24px;
}
section.cotizador .miniView .maximizar:hover,
section.cotizador .tableView .minimizar:hover{
	background-color: #058;
}
section.cotizador .miniView:hover .maximizar,
section.cotizador .tableView:hover .minimizar{
	display:block;
}
section.cotizador article .caja{
    border:1px solid #CCC;
    box-sizing:border-box;
    display: block;
    margin-top: 15px;
    padding: 2px;
    text-decoration: none;
}
section.cotizador article .caja img{
    height: auto;
    float: left;
    margin:-2px 10px -2px -2px;
    padding:4px 4px;
    width: 110px;
}
section.cotizador article .caja p.cuotas{
    color:#D32027;
    font-size: 14px;
    line-height: 1.2em;
    margin:0;
    padding: 0;
}
section.cotizador article .caja p.precioFinal{
	clear:both;
	border-top:1px solid #CCC;
	line-height:1.2em;
	margin:0 -2px;
	padding:2px 0;
	text-align:center;
}
section.cotizador article .caja p.precioFinal span{
	font-weight:bold;
}
/*
section.cotizador article .caja p.precioFinal{
    border-top:1px solid #CCC;
    font-size: 14px;
    margin:0 -2px;
}
*/
section.cotizador article .caja p.cuotas strong{
    font-size: 16px;
    line-height:18px;
}
	section.cotizador .miniView{
		width:100%;
	}
	section.cotizador article .caja img{
		border-right:1px solid #CCC;
	}
	section.cotizador article .caja p.cuotas br{
		display:none;
	}
	section.cotizador article .caja p.precioFinal{
		clear:none;
		border-top:none;
		margin:0 0 3px 0;
		padding:0;
		text-align:left;
	}

/* EXCLUSIVO
section.cotizador article.bancoExclusivo .caja p.cuotas{
    background-color: #FEE9E3;
}
section.cotizador article.bancoExclusivo .caja p.exclusivo,
.detalleCuota p.exclusivo{
    background-color:#D32027;
    color:#FFF;
    font-family:'OpenSansBold';
    font-size:14px;
    margin-top:-10px;
    position:absolute;
    text-align:center;
    width:80px;
}
section.cotizador article.bancoExclusivo .caja p.exclusivo:after,
.detalleCuota p.exclusivo:after{
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:10px solid #D01921;
	content: "";
	left:80px;
	margin-top:0px;
	position: absolute;
}
.detalleCuota p.exclusivo{
	left:0;
	margin-top: -20px;
}
*/
/* RESPONSIVE */
@media (max-width: 1199px) {
	section.cotizador .bancos{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}
@media (max-width: 991px) {
	section.cotizador .bancos{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
	section.cotizador .tableView{
		/* display: block; */
	}
	section.cotizador .tableView .table-responsive table{
		display:table;
	}
	section.cotizador .table-responsive,
	section.cotizador .table-bordered{
		border:none;
	}
}
@media (max-width: 560px) {
	section.cotizador .parametros p{
		font-size:.95em;
		padding-top:6px;
	}
	section.cotizador .parametros p br{
		display:initial;
	}
	section.cotizador .parametros p span#initial_price,
	section.cotizador .parametros p span#final_price{
		margin-left:0;
	}
	section.cotizador .table-responsive{
		overflow: auto;
		width: initial;
	}
}
@media (max-width: 470px) {
	section.cotizador .label-float,
	section.cotizador div.cuotas,
	section.cotizador #btnPrint{
		margin-top: 10px;
	}
	section.cotizador .tableView thead th img{
		width:100px;
	}
	section.cotizador article .caja img{
		border-right:none;
	}
	section.cotizador article .caja p.cuotas br{
		display:block;
	}
	section.cotizador article .caja p.precioFinal{
		clear:both;
		border-top:1px solid #CCC;
		margin:0;
		padding:2px 0;
		text-align:center;
	}
}
@media (max-width: 360px) {
	section.cotizador .parametros p{
		float:none;
		font-size:.90em;
		line-height: 1em;
		width:100%
	}
	section.cotizador .parametros p:first-child{
		padding-top:10px;
	}
	section.cotizador .parametros p:last-child{
		padding-bottom:10px;
	}
	section.cotizador .parametros p br{
		display:none;
	}
	section.cotizador .parametros p span#initial_price,
	section.cotizador .parametros p span#final_price{
		margin-left:10px;
	}
	section.cotizador .tableView thead th img{
		width:80px;
	}
}


