.admin .panel-body img{
  max-width: 100%;
  max-height: 60px;
}
.custom-panel{
  border: 1px solid red;
}
#search{
  height: 34px;
}
.admin .panel-footer{
  height:70px;
}
.admin .panel-footer span.description p{
  font-size:18px;
  font-weight:bold;
  line-height:1em;
  margin:5px 0 0 0;
}
.admin .panel-footer span.description p span{
  font-size:1.4em;
}
.admin .panel-footer span.options{
  line-height: 50px;
}

.admin .panel-footer-hidden{
  display: none;
}
ul {
  list-style-type: none; margin: 0; padding: 0;
}
.admin .entidades .panel{
  transition: 0.5s all;
}

.admin .entidades .panel-body .lcs_wrap{
  right:15px;
  position:absolute;
  top:5px;
}

.admin .bancoExclusivo p.exclusivo{
  background-color:#D32027;
  color:#FFF;
  /* font-family:'OpenSansBold'; */
  font-size:14px;
  /* font-weight: bold; */
  left:10px;
  margin:5px 0 0 0;
  position:absolute;
  text-align:center;
  text-transform: uppercase;
  width:80px;
}
.admin .bancoExclusivo p.exclusivo:after{
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-left:10px solid #D01921;
  content: "";
  left:80px;
  margin-top:0px;
  position: absolute;
}
.admin .bancoExclusivo .panel-footer,
.admin .bancoExclusivo .panel-footer i{
  background-color:#FEE9E3;
  color:#D32027;
}