.card{
	background: #0348a7;
	color:white;
	font-weight: bold;
	font-size: 14px;
}
.classic{
	background: #aca8a5;
	color:black;
}
.advance{
	background: #d00115; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #d00115 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #d00115 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #d00115 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00115', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.platinum,.black,.black-{
	background: black;
}
.premier{
	background: #23123f;
}
.american-express{
	background: #589377;
	-webkit-box-shadow:inset 0px 0px 0px 5px #415049;
    -moz-box-shadow:inset 0px 0px 0px 5px #415049;
    box-shadow:inset 0px 0px 0px 5px #415049;
}
.galicia{
	background: #cb5b43; /* Old browsers */
	background: -moz-linear-gradient(left,  #cb5b43 0%, #f3930b 25%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #cb5b43 0%,#f3930b 25%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #cb5b43 0%,#f3930b 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5b43', endColorstr='#f3930b',GradientType=1 ); /* IE6-9 */
}
.icbc{
	background: #e0e0d8;
	color:#807f7a;
}
.citibank{
	background: #428cc4;
}
.patagonia{
	background: #c8c8ca;
	color: #00ad4e;
}
.macro{
	background: #008cd4;
}
.banco-provincia{
	background: #224c2a; /* Old browsers */
	background: -moz-linear-gradient(left,  #224c2a 77%, #021202 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #224c2a 77%,#021202 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #224c2a 77%,#021202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#224c2a', endColorstr='#021202',GradientType=1 ); /* IE6-9 */
}
.nacion{
	background: #1498d8; /* Old browsers */
	background: -moz-linear-gradient(left,  #1498d8 59%, #014171 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1498d8 59%,#014171 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1498d8 59%,#014171 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1498d8', endColorstr='#014171',GradientType=1 ); /* IE6-9 */
}
.mastercard{
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(left,  #cc0000 0%, #cc0000 49%, #ff9900 52%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #cc0000 0%,#cc0000 49%,#ff9900 52%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #cc0000 0%,#cc0000 49%,#ff9900 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ff9900',GradientType=1 ); /* IE6-9 */

}
.visa{
	background: #e59703; /* Old browsers */
	background: -moz-linear-gradient(top,  #e59703 0%, #e59703 33%, #ffffff 36%, #ffffff 66%, #1b1d74 68%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e59703 0%,#e59703 33%,#ffffff 36%,#ffffff 66%,#1b1d74 68%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e59703 0%,#e59703 33%,#ffffff 36%,#ffffff 66%,#1b1d74 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59703', endColorstr='#1b1d74',GradientType=0 ); /* IE6-9 */
}
.superville{
	background: #d24e42; /* Old browsers */
	background: -moz-linear-gradient(top,  #d24e42 0%, #d24e42 24%, #ffffff 27%, #ffffff 29%, #221e1f 34%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #d24e42 0%,#d24e42 24%,#ffffff 27%,#ffffff 29%,#221e1f 34%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #d24e42 0%,#d24e42 24%,#ffffff 27%,#ffffff 29%,#221e1f 34%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24e42', endColorstr='#221e1f',GradientType=0 ); /* IE6-9 */
}
.itau{
	color:#f9f500;
}