section.site{
    overflow:hidden;
}
section.site h1{
    color: #D32027;
    font-size: 24px;
    
    /* padding:0 10px; */
}
section.site h1.destacado {
    background-color: #D32027;
    color: #FFF;
    font-family:'OpenSans';
    padding: 7px 0 10px 0;
    text-align: center;
}

section.financiacion{
    /* padding-bottom:20px; */
}
section.financiacion{
    overflow:hidden;
    clear: both;
}
section.financiacion h1{
    margin: 20px 0;
}
section.financiacion div.row2{
    margin:0 -10px;
}
section.financiacion article .caja{
    border:1px solid #CCC;
    display: block;
    margin-bottom:20px;
    padding: 10px 0 5px 0;
    text-align:center;
    text-decoration: none;
}
section.financiacion article .caja img{
    height: 60px;
    margin-bottom:10px;
    width:100%;
    max-width:180px;
}
section.financiacion article .caja p.cuotas{
    border-top:1px solid #CCC;
    color:#D32027;
    font-size:16px;
    padding: 15px 0 10px 0;
	height: 70px;
}
section.financiacion article.bancoExclusivo .caja p.cuotas{
    background-color: #FEE9E3;
}
section.financiacion article.bancoExclusivo .caja p.exclusivo,
.detalleCuota p.exclusivo{
    background-color:#D32027;
    color:#FFF;
    font-family: 'OpenSansBold';
    font-size:14px;
    margin-top:-10px;
    position:absolute;
    text-align:center;
    width:80px;
}
section.financiacion article.bancoExclusivo .caja p.exclusivo:after,
.detalleCuota p.exclusivo:after{
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:10px solid #D01921;
	content: "";
	left:80px;
	margin-top:0px;
	position: absolute;
}
.detalleCuota p.exclusivo{
	left:0;
	margin-top: -20px;
}
section.financiacion article .caja p.cuotas strong{
    font-size:18px;
    line-height:18px;
}
section.financiacion article .caja p.vermas{
    margin-top: 5px;
}
table.popup.financiacion table.detalleCuota{
    background-color:#FFF;
    box-sizing:border-box;
    height: 80%;
    margin: 10% auto;
    overflow: overlay;
}
table.popup.financiacion table.detalleCuota thead{
    background-color: #EEE;
    border-bottom:1px solid #CCC;
}
table.popup.financiacion table.detalleCuota thead td{
    /* border-radius:20px; */
}
table.popup.financiacion table.detalleCuota tbody{
	/* overflow:hidden; */
	height: 100%;
}
table.popup.financiacion table.detalleCuota td{
    height: 100%;
    padding: 10px 15px;
}
table.popup.financiacion table.detalleCuota h4{
    color: #D01921;
    margin:0;
}
table.popup.financiacion table.detalleCuota .scroll{
    /* height:100px; */
    overflow:auto;
    /* padding-right:15px; */
}
table.popup.financiacion table.detalleCuota img{
    height:auto;
    width:160px;
}
table.popup.financiacion .caja{
    background-color:#EEE;
    /* border:1px solid #CCC; */
    display: block;
    margin-bottom:20px;
    /* width: 100% !important; */
}
table.popup.financiacion table.detalleCuota .texto{
    /* border-top:1px solid #ccc; */
    /* overflow: hidden; */
}
table.popup.financiacion table.detalleCuota h5{
    background-color:#FFF;
    color: #D01921;
    font-size:16px;
    margin:0;
    padding:15px 0 0 15px;
}
table.popup.financiacion table.detalleCuota h5 span{
    color: #666;
    font-size:14px;
    text-transform:uppercase;
}
table.popup.financiacion table.detalleCuota p.cliente{
	background-color:#FFF;
	padding-left:15px;
}
table.popup.financiacion table.detalleCuota .legales{
    background-color:#FFF;
    font-size:12px;
    margin:0;
    /* overflow: auto; */
    padding:0 15px 15px 15px;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}
table.popup.financiacion table.detalleCuota article{
    background-color:#FFF;
    border-bottom: 1px solid #EEE;
    overflow: auto;
    padding-bottom: 10px;
}
table.popup.financiacion table.detalleCuota .cftna{
    color:#CCC;
    float: right;
    font-family:'OpenSansBold';
    font-size: 42px;
    line-height:.7em;
    margin: 11px 15px 1px 15px;
    text-align: center;
    top:0;
    min-width: 139px;
}
table.popup.financiacion table.detalleCuota .cftna span.sigla{
    display:block;
    font-family:'OpenSans';
    font-size: 16px;
    line-height: 1.5em;
}
table.popup.financiacion table.detalleCuota .cftna span.porciento{
    font-size:.5em;
}
.sweet-alert p.exclusivo{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size:13px;
	font-weight:bold;
	line-height:20px;
	z-index:1;
}
.sweet-alert p.vermas{
	color:#157BB2;
	font-size:13px;
}

@media (min-width: 1200px){
}
@media (max-width: 1199px){
}
@media (max-width: 991px){
}
@media (max-width: 767px){
    table.popup.financiacion table.detalleCuota .cftna{
        font-size: 49px;
        line-height:.6em;
    }
    table.popup.financiacion table.detalleCuota .cftna span.sigla{
        font-size: 0.45em;
    }
}
@media (max-width: 420px){
    table.popup.financiacion table.detalleCuota .cftna{
        font-size: 37px;
        line-height:.6em;
    }
    table.popup.financiacion table.detalleCuota .cftna span.sigla{
        font-size: 0.45em;
    }
}
