@import url('/../cdn/css/form.css');

.selected a{
	color:inherit;
    background-color: transparent !important;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    z-index: 99999999999999999999999;
}
.error_color_lf{
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    color: red!important;
    margin-top: -6px;
    width: 100%;
    margin-bottom: 10px;
}
.error_img{
    margin-top: -2px;
    float: left;
    width: 100%;
    margin-bottom: 11px;
    color: red!important;
}
.readonly
{
    background-color: #CCC !important;
    border-color: #BBB !important;
}
.disabled{
	background: rgba(0,0,0,0.1);
    color:inherit;
    opacity:.5;
    filter: Alpha(opacity=50);
}
.error_color_ms{
	display:none;
    float: right;
    margin-left: 8px;
    margin-right: 8px;
	color: red!important;
    margin-top: 7px;
}
.tab-content{
	display: table!important;
	  width: 100%;
}
.content_entity_c{
    margin-left: -10px;
    margin-top: 12px;
    float: left;
    width: 100%;
    margin-bottom: 16px;
}
.number_input{
	width: 15%!important;
}
.titletab{
	float: left;
    width: 100%;
    font-size: 15px!Important;
    margin-left: 17px!important;
    margin-bottom: 14px!important;
    margin-top: 5px!Important;
}
.label_image{
    width: 100%;
    margin-bottom: 10px;
}
.input_lgh{
    border: 1px solid #ccc;
    padding: 6px 12px;
}
.image_size_label{
   float: right!important;
    margin-top: 7px;
    margin-left: 10px;
}
.input_group_c{
	float: right;
    position: static;
    width: 203px;
    margin-left: 9px;
}
.form-group{
	margin-bottom:0;
	padding-bottom:20px;
}
.content {
	overflow:auto;
	padding-top:5px;
}
.bx-wrapper{
	margin:0px!important;
	padding-left: 10px;
}
.content-images{
	background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 11px;
    padding-top: 12px;
    overflow: hidden;
}
.more_img{
	width: 76px;
    height: 150px;
    background-color: #333;
    float: left;
    color: #fff;
    font-size: 67px;
    text-align: center;
    padding-top: 27px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}
.image_size{
    width: 100%;
    height: 100px;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    text-align: center;
    padding-top: 40px;
	color: #333;
	cursor:pointer;
}
.image_selected_jscrop{
background-color: #e5e5e5;
}
.delete_img_i{
	position: absolute;
    right: 8px;
    color:#cc181e;
	cursor:pointer!important;
}
.edit_img_i{
	position: absolute;
    right: 29px;
    color: #fff;
    cursor: pointer;
    top: 1px;
}
.images_object{
	padding: 3px;
    overflow: hidden;
}
.img-b{
    border: 0px;
    padding-top: 0px;
}
.f1{
	 border-right:1px solid #e5e5e5 ;
	 height: 500px;
}
.f2{
    height: 500px;
    padding: 10px 0px 0px 0px;
}
.center_image{
	display:table;
	margin:auto;
}
.file_uploaded_class{
    width: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100px;
    top: 22px;
    left: 0px;
    border: 1px solid #ccc;
}
.f2_custom{
	height: 121px;
	padding: 0px 0px 0px 0px;
    clear: both;
    margin-left: 10px;
    height: 155px;
}
.images_footer_i{
   padding: 0px 0px 15px 15px;
}
.jcrop-holder{
	background:transparent!Important;
}
.modal-publish-header{
	border-bottom: 2px solid #dd4b39;
}
.loader_gif_img{
	margin: auto;
	width: 135px;
	display: table;
	margin-top: 17%;
}
.loader_select{
	clear: both;
    display: table;
    margin-left: 6px;
    margin-top: 5px;
}
.result_image {
    display: table;
    margin: auto;
    height: 480px;
}
.finalizar_carga_img{
    position: absolute;
    left: 0px;
    top: -42px;
}
.ligth-box-modal-images {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    display: none;
}
.input_datas{
	float: left;
    background-color: #fff;
    width: 97%;
    position: absolute;
    top: -42px;
    left: 0px;
}
.input_datas span{
	float:left;
}
.images_object_internal{
	overflow: hidden;
    float: left;
    height: 94px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: 7px solid #fff;
    border-radius: 5px;
    background: #fff;

}
.content-header{
	overflow:hidden;
}
.content-header > .breadcrumb,div>.breadcrumb{
	float:left;
	font-size:14px;
	left:0;
	padding:0;
	position:relative;
	right:0;
	top:0;
}
div>.breadcrumb{
	background: transparent;
}
.breadcrumb_p{
    padding: 0px 0px;
	background-color: #fff;
    margin: 0px;
    list-style: none;
	margin-bottom: 13px;
}
.lastPublication {
    color: #666;
    float: right;
    padding: 0 0 0 10px;
    font-size: 13px;
    text-align: right;
}
.box-header .registros{
	float: left;
	margin: 7px 0;
}
.breadcrumb h1{
	margin:0;
}
.box-body {
    padding-bottom:50px;
}
.right-icon-search{
	position: absolute;
	color:#ccc;
    right: 42px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
.active_menu a{
color:#000!important;
}
.sidebar .sidebar-menu .active .treeview-menu {
    display: block;
}
.right-icon-search-p{
	position: absolute;
	color:#ccc;
    right: 42px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
.tooltip{
	/* position:absolute; */
	white-space:nowrap;
}
/* LISTS */
.grid-view .button-column{
	white-space:nowrap;
	width:1px !important;
}

a.a_customize,
a.b_customize{
	float:right;
	margin-left:15px;
}
a.b_customize{
	background-color: #3c8dbc;
	border-color: #367fa9;
	color:#FFF;
	float:right;
	margin-left:15px;
}
div.search_bar{
	clear: none;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}
div.nav-tabs{
	margin-top: 50px;
}
div.nav-tabs div.search_bar{
	margin-top: -90px;
}
div.search_bar .input-group-sm>.input-group-btn>.btn,
div.search_bar input[id*="criterio"],
div.search_bar input.criterio{
	font-size: 14px !important;
	height:34px;
}
div.search_bar input[id*="criterio"],
div.search_bar input.criterio{
	width: 100%;
}
.form-control.booking-search{
	font-size: 14px !important;
	height:34px;
}
.form-control.booking-search{
	width: 400px;
}
a.search-button{
	display: none;
	float:left;
	margin: 7px 20px;
	/* width: auto; */
}
div.search_bar .row{
	margin:0 -10px;
}
.grid-view{
	clear: both;
}
.grid-view .summary {
    margin:0;
}
.grid-view td.activeSwitch {
	text-align:center;
	width: 75px;
}
table.table-list th{
	color:#FFF;
	background-color:#999;
	font-weight:normal;
	line-height: 1em !important;
	vertical-align: middle !important;
}
table.table-list th a.sort-link.asc:after,
table.dataTable thead .sorting_asc:after{
	content:'\f0de';
	float:right;
	font: normal normal normal 14px/1 FontAwesome;
	margin-left: 5px;
	margin-top: 6px !important;
}
table.dataTable thead .sorting:after {
	content:'\f0de';
	display:none;
	float:right;
	font: normal normal normal 14px/1 FontAwesome;
	margin-left: 5px;
	margin-top: 6px !important;
    opacity: 0.2;
}
table.table-list th a.sort-link.desc:after,
table.dataTable thead .sorting_desc:after{
	content:'\f0dd';
	font: normal normal normal 14px/1 FontAwesome;
	margin-left:5px;
	margin-top: 0px !important;
	float:right;
}
table.table-list th a{
	color:inherit;
	font-weight:normal;
}
table.table-list th a.sort-link{
	display:block;
	height:100%;
	width:100%;
}
table.table-list tr:hover{
	background-color:#CCC;
}
/* PAGER */
.grid-view .pager{
	text-align:center;
}
.pager ul{
	display: inline-block;
	float:none;
	/* margin:0 auto; */
	padding:0;
}
.yiiPager li.hidden{
	/*display:block !important;*/
}
div.dataTables_paginate {
    margin: 19px 0 0 0;
    white-space: nowrap;
    text-align: center;
}
div.dataTables_paginate .paginate_button{
	cursor: pointer;
}
.pager li > a, .pager li > span,
.dataTables_paginate .paginate_button {
    padding:2px 8px;
    border:none;
}
.pager li.first > a,
.pager li.previous > a,
.pager li.last > a,
.pager li.next > a,
div.dataTables_paginate a.first,
div.dataTables_paginate a.previous,
div.dataTables_paginate a.last,
div.dataTables_paginate a.next{
	background-color:#FFF;
	border:1px solid #CCC;
	color:#CCC;
	margin:0 5px;
	padding:0;
}
.pager li.previous > a i,
.pager li.next > a i,
div.dataTables_paginate a.previous i,
div.dataTables_paginate a.next i{
	padding:4px 7px 4px 9px;
}
.pager li.first > a i,
.pager li.last > a i,
div.dataTables_paginate a.first i,
div.dataTables_paginate a.last i{
	padding:4px 3px 4px 6px;
}
div.dataTables_paginate a.previous,
div.dataTables_paginate a.next,
div.dataTables_paginate a.first,
div.dataTables_paginate a.last{
	padding-bottom:2px;
	padding-top:2px;
}
.pager li.first > a:hover,
.pager li.previous > a:hover,
.pager li.last > a:hover,
.pager li.next > a:hover,
.dataTables_paginate .paginate_button:hover{
	background-color:#CCC;
	color:#FFF;
}
.pager li.selected > a,
div.dataTables_paginate a.current{
	background-color:#367fa9 !important;
	color:#FFF !important;
}
/* FORMS */
.active-button{
	margin-bottom:-28px;
	margin-right:17px;
	margin-top: -1px;
}
.col-data{
	/* overflow:auto; */
}
.col-data h2{
	margin-top:0;
}

.input-group-addon{
	padding: 6px 10px;
}
.unique label span{
	display:none;
}
.input-group-addon .fa{
	font-size:14px;
}
.input-group-addon .fa.fa-phone{
	font-size:15px;
}
.file {
    background-color: #FFC !important;
}
#trigger{
	cursor: pointer;
}
.errorMessage{
	margin-top:-2px;
	position:absolute;
}
.box-footer{
	border:none;
	border-radius:5px;
	bottom:20px;
	box-shadow:0 0 20px #FFF;
	padding:5px;
	position:fixed;
	right:50px;
	z-index:2;
}
.box-footer.box-footer-relative{
    bottom: 0;
    clear: both;
    float: right;
    margin-bottom:-40px;
    margin-right:15px;
    position: relative;
    right: 0;
}
.box-footer .btn{
	margin-left:20px;
	width:100px;
}
.box-footer .btn:first-child{
	margin-left:0;
}
.box-footer .btn-secundary{
	background-color:buttonface;
	color:#333;
}
.box-footer .btn[disabled]{
	filter:alpha(opacity=100);
	opacity:1;
}
.col-data .input-radio > span{
	display:block;
	margin-top:5px;
}
.col-data .input-radio-noList > span br{
	display:none;
}
.col-data input[type=radio]{
	margin-left:20px !important;
	margin-right:-4px !important;
}
.col-data .input-radio > span label{
	margin-right:10px;
}
.col-data input[type=checkbox],
.col-data input[type=radio]{
	display:inline-block;
	margin-left:5px;
	vertical-align:top;
}
.col-data input[type=checkbox]:before,
.col-data input[type=radio]:before{
	background-color:#EEE;
	border:1px solid #999;
	border-radius:50%;
	content:'';
	height:16px;
	margin-left:-2px;
	margin-top:-2px;
	position:absolute;
	width:16px;
}
.col-data .required input[type=checkbox]:before,
.col-data .required input[type=radio]:before{
	background-color:#FFC;
}

.col-data input[type=checkbox]:hover:before,
.col-data input[type=radio]:hover:before{
	background-color:#CCC;
}
.col-data input[type=checkbox]:checked:after{
	color:#666;
	content:'\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.2em;
    margin-left:-1px;
    margin-top:-2px;
    position:absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.col-data input[type=radio]:checked:after{
	background-color:#666;
	border-radius:50%;
	content:'';
	height:10px;
	margin-left:1px;
	margin-top:1px;
	position:absolute;
	width:10px;
}
/* DATEPICKER */
.input-group-addon{
	padding:0;
}
.input-group-addon i{
	padding:6px 10px;
}
.dropdown-menu{
	padding:2px;
}
.dropdown-menu .table > thead > tr > th {
  border-bottom: none;
}
.dropdown-menu thead tr:first-child{
    background-color: #3c8dbc;
    color:#FFF;
}
.dropdown-menu thead tr:first-child th{
	border-radius:0;
}
.dropdown-menu thead tr:first-child th:hover{
	background-color:#106090;
}
.dropdown-menu thead tr:first-child th:first-child{
	border-top-left-radius:3px;
	border-bottom-left-radius:4px;
}
.dropdown-menu thead tr:first-child th:last-child{
	border-top-right-radius:3px;
	border-bottom-right-radius:4px;
}
.dropdown-menu thead th.prev:before,
.dropdown-menu thead th.next:before{
    background-color: #3c8dbc;
    border-radius:50%;
	content:'\f0d9' !important;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    height:24px;
    margin-left:-8px;
    margin-top:-3px;
    padding:3px;
    position:absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width:23px;
}
.dropdown-menu thead th.next:before{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform:rotate(180deg);
	margin-top:-7px;
}
.dropdown-menu thead th.prev:hover:before,
.dropdown-menu thead th.next:hover:before{
    /* border:1px solid #FFF; */
	background-color:#106090;
}
.dropdown-menu thead th.dow{
    color:#3c8dbc;
}
.dropdown-menu .table > thead > tr > th,
.dropdown-menu .table > tbody > tr > th,
.dropdown-menu .table > tfoot > tr > th,
.dropdown-menu .table > thead > tr > td,
.dropdown-menu .table > tbody > tr > td,
.dropdown-menu .table > tfoot > tr > td {
  border-top: none;
}
.dropdown-menu .datepicker-days .table > tbody > tr > td{
	border:1px solid #EEE;
	height:28px;
	margin:2px;
	padding:0;
	vertical-align:middle;
	width:28px;
}
.dropdown-menu .table{
	border-spacing:2px;
	border-collapse: separate;
	color:#666;
}
.dropdown-menu table tr td.day:hover,
.dropdown-menu table tr td.day.focused {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.dropdown-menu table tr td.old,
.dropdown-menu table tr td.new{
	background: rgba(0,0,0,0.1);
    color:inherit;
    opacity:.5;
    filter: Alpha(opacity=50);
}
.dropdown-menu table tr td.active:hover,
.dropdown-menu table tr td.active:hover:hover,
.dropdown-menu table tr td.active.disabled:hover,
.dropdown-menu table tr td.active.disabled:hover:hover,
.dropdown-menu table tr td.active:focus,
.dropdown-menu table tr td.active:hover:focus,
.dropdown-menu table tr td.active.disabled:focus,
.dropdown-menu table tr td.active.disabled:hover:focus,
.dropdown-menu table tr td.active:active,
.dropdown-menu table tr td.active:hover:active,
.dropdown-menu table tr td.active.disabled:active,
.dropdown-menu table tr td.active.disabled:hover:active,
.dropdown-menu table tr td.active.active,
.dropdown-menu table tr td.active:hover.active,
.dropdown-menu table tr td.active.disabled.active,
.dropdown-menu table tr td.active.disabled:hover.active,
.open .dropdown-toggle.dropdown-menu table tr td.active,
.open .dropdown-toggle.dropdown-menu table tr td.active:hover,
.open .dropdown-toggle.dropdown-menu table tr td.active.disabled,
.open .dropdown-toggle.dropdown-menu table tr td.active.disabled:hover {
    color: #ffffff;
    background:#3c8dbc;
    border-color:#666;
}
.datepicker.dropdown-menu .datepicker-months th,
.datepicker.dropdown-menu .datepicker-months td,
.datepicker.dropdown-menu .datepicker-years th,
.datepicker.dropdown-menu .datepicker-years td{
  padding: 4px 0px;
}
.dropdown-menu .datepicker-months span,
.dropdown-menu .datepicker-years span{
	border:1px solid #EEE;
}
/* TIMEPICKER */
.bootstrap-timepicker-widget.dropdown-menu {
	position: absolute;
	top: 100%;
	left:initial;
	right:-10px;
	z-index: 3;
	float: none;
	display: none;
	min-width:106px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*
	border-right-width: 2px;
	*
	border-bottom-width: 2px;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.bootstrap-timepicker-widget.dropdown-menu:before{
    left:initial;
    right: 19px;
}
.bootstrap-timepicker-widget.dropdown-menu:after{
    left:initial;
    right: 20px;
}
.glyphicon {
    display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-family:FontAwesome;
    font-size: 1.3em;
    line-height:initial;
    text-rendering: auto;
    top:none;
    -webkit-font-smoothing: antialiased;
}
.glyphicon.glyphicon-chevron-up:before{
	content:'\f0d8' !important;
}
.glyphicon.glyphicon-chevron-down:before{
	content:'\f0d7' !important;
}
.bootstrap-timepicker-widget table{
	width:100px;
}
.bootstrap-timepicker-widget table td{
	height: 20px;
	width: 25px;
}
.bootstrap-timepicker-widget table td.separator {
	background:none !important;
    width: 10px;
}
.bootstrap-timepicker-widget table tr:first-child a,
.bootstrap-timepicker-widget table tr:last-child a,
.bootstrap-timepicker-widget table td a:hover{
	background-color:#3c8dbc;
	border:none;
	color:#FFF !important;
}
.bootstrap-timepicker-widget table tr:first-child a{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.bootstrap-timepicker-widget table tr:last-child a{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.bootstrap-timepicker-widget table td a:hover{
	background-color:#106090;
}
/* RESPONSIVE */
@media (max-width: 470px){
	.active-button{
		margin-right:-7px;
	}
	.body-box,
	.col-data{
		margin:0 -15px;
		padding-left:0;
		padding-right:0;
	}
	.box-footer{
		right:25px;
	}
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}
div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
.dataTables_filter{
float: right!important;
}
.info-box-text-dash {
	display: block;
	font-size: 18px;
	word-wrap: break-word;
	overflow: hidden;
	height:36px;
	line-height: 20px;
}
.info-box-number-dash {
    display: block;
    font-weight: bold;
    font-size: 31px;
}