/* Estilos de Graphs -EmailCampaignStats */
.pies .box-header{
	text-align:center;
}
.pies .box-header{
	margin-top:30px; 
	padding:0;
}
.pies .delivered,
.pies .openrate,
.pies .click{
	position:relative;
}
.highcharts-container{
	z-index:2 !important;
}

/* TAB 1 */
.pies .data{
	padding:0 60px;
	text-indent:-20px;
}
.pies .data.sinIcon{
	text-indent:0px;
}
span[class*='icon-'].ic{
	/*margin-left:-20px;*/
	margin-right:5px;
}
#tab_1 .color-delivered{
	color:#0096CA;
}
#tab_1 .color-mail{
	color:#edc240;
}
#tab_1 .color-spam{
	color:#cb4b4a;
}
#tab_1 .color-unsus{
	color:#cb4b4a;
}
#tab_1 .color-abiertos{
	color:#3e9ca8;
}
#tab_1 .color-noAbiertos{
	color:#ee7e66;
}
#tab_1 .color-click{
	color:#81ad38;
}
#tab_1 .pies.viewcompletestats{
	margin-top:50px;
}
#tab_1 .color-referred{
	color:#6ab550;
}
#tab_1 .color-lecturas{
	color:#6ab550;
}
#tab_1 .color-lecturasTotales{
	color:#6a9dcf;
}

/*.highcharts-container rect{
	border:2px solid #000;
	background:#000 !important;
}*/
.center_per {
	font-size:38px;
	font-family: Oswald,'Open sans',Tahoma;
	font-weight:700;
	text-align: center;
	color: #84bb20;
	display: block;
	line-height:300px;
	padding-right:10px;
	position:absolute;
	-webkit-text-size-adjust:initial;
	-ms-text-size-adjust:initial;
	top:42px;
	width: 100%;
}
.center_per span{
	font-size:.6em;
}
@media (max-width:991px) {
	.center_per{
		top:15px;
	}
}

/* APARENTEMENTE NO HACE NADA */
.reads_graph{
	margin-top:25px; 
	width: 950px;
	height: 280px
}
.reads_week{
	margin-right: 30px;    
	width: 390px;    
	display: inline-block;    
	height: 280px;
}
.reads_hour{
	margin-left:30px; 
	width: 500px !important;
	display: inline-block;    
	height: 280px;
}

.pies .data {
    color: #444;
    font-size: 15px;
    margin:0 0 8px 0;
}

@media (min-width: 767px) {
	.pie {
	 width: 260px;
	}
	.chart{
		display: inline-block;    
		width: 250px;   
		vertical-align: top;    
		position: relative;
	}
}
@media (max-width: 768px) {
	.pie {
	 width: 260px; 
	}
	.chart{        
		  margin: auto;
	}
}
@media (max-width: 650px) {
	.pies {
		margin-top: 30px; 
		margin-left: 15px;
		padding-top:20px;
	}
}
