.fotocarnet{
	background-color:#DDD;
	border-radius:50%;
	height: 123px;
}
input.input-file{
	display:none;
}
.user-name{
	margin-top: 69px;
}
.name{
	clear:both;
}

@media (max-width: 470px){
	.user-name{
		margin-top:0;
	}
}
